<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col-lg-4">
      <div class="auth-content p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>
                <div class="text-center">
                  <div>
                    <a routerLink="" class="logo-full"><img src="assets/images/rhythmflows_logo.png" alt="logo-full"></a>
                  </div>

                  <h4 class="font-20 mt-4">Reset Password</h4>
                  <p class="text-muted">Enter your username to reset your password</p>
                </div>

                <div class="p-2 mt-5">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>
                    <div class="form-group auth-form-group mb-4">
                      <mat-label>username</mat-label>
                      <mat-form-field class="example-full-width" appearance="outline"> 
                        <input matInput formControlName="username" id="username" placeholder="username" required>
                        <mat-icon matSuffix>face</mat-icon>
                        <mat-error *ngIf="loginForm.get('username').hasError('required')">
                          username is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="container-login100-form-btn">
                      <!-- <img *ngIf="submitted" style="height:3rem;" src="assets/images/loader.gif" alt="Loading"> -->
                      <button mat-flat-button color="primary" [disabled]="submitted" class="login100-form-btn" type="submit">
                        Get OTP
                        <em class="fa fa-spinner fa-spin" *ngIf="submitted"></em>
                      </button>
                    </div>
                  </form>
                </div>

                <div class="mt-5 text-center">
                  <p>Want To Login ? <a routerLink="/authentication/signin" class="font-weight-medium text-primary">
                      Log in </a> </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="auth-bg">
        <div class="bg-overlay"></div>
      </div>
    </div>
  </div>
</div>
