<div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="auth-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <div>
                        <a class="logo-full"><img src="assets/images/rhythmflows_logo.png" alt="logo-full"></a>
                    </div>
                    <h4 class="font-20 mt-4">New Password</h4>
                  </div>
  
                  <div class="p-2 mt-5">
                    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
                      <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>
                      <div class="form-group auth-form-group mb-4">
                        <mat-label>Password</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline">                          
                            <input matInput formControlName="password" id="password" placeholder="Password" 
                              [type]="PasswordHide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="PasswordHide = !PasswordHide">
                              {{PasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            <mat-error *ngIf="newPasswordForm.get('password').hasError('required')">
                              Password is required
                            </mat-error>
                            <mat-hint align="end">minimum 8 alpha-numeric characters</mat-hint>
                          </mat-form-field>
                      </div>

                      <div class="form-group auth-form-group mb-4">
                        <mat-label>Confirm Password</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline">                          
                            <input matInput formControlName="confirmpassword" id="confirmpassword" placeholder="Confirm Password" 
                              [type]="confirmPasswordHide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="confirmPasswordHide = !confirmPasswordHide">
                              {{confirmPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              <mat-error *ngIf="newPasswordForm.get('confirmpassword').hasError('required')">
                                Confirm Password is required
                            </mat-error>
                          </mat-form-field>
                      </div>

                      <div class="form-group auth-form-group mb-4">
                        <mat-label>OTP</mat-label>
                        <mat-form-field class="example-full-width" appearance="outline">                          
                            <input matInput formControlName="token" id="token" placeholder="token" 
                              type="text" required>
                        <mat-error *ngIf="newPasswordForm.get('token').hasError('required')">
                          OTP is required
                        </mat-error>
                      
                          </mat-form-field>
                      </div>

                      <div class="container-login100-form-btn">
                        <!-- <img *ngIf="submitted" style="height:3rem;" src="assets/images/loader.gif" alt="Loading"> -->
                        <button mat-flat-button color="primary" [disabled]="submitted" class="login100-form-btn" type="submit">
                          Reset Password
                          <em class="fa fa-spinner fa-spin" *ngIf="submitted"></em>
                        </button>
                      </div>

                    </form>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="auth-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
  